@use '../../styles/media/media-queres';
@import '../../styles/varriables/varriables';

.cards {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 12px;
	width: 32.33%;
	overflow: hidden;

	.cardsImage {
		position: relative;
		width: 100%;
		height: 220px;
		display: flex;
		align-items: flex-end;

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			z-index: -1;
		}

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(24, 38, 82, 0.2);
		}
	}

	.cardsTitle {
		color: $mainWhite;
		padding: 5px 12px;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		text-overflow: ellipsis;
		overflow: hidden;
		z-index: 3;
		font-weight: 700;
		font-size: 18px;
		line-height: 24px;
	}

	.newsDescription {
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		text-overflow: ellipsis;
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		color: $skyBlue;
		padding: 0px 6px;
	}

	.published {
		position: absolute;
		top: 10px;
		left: 10px;
		padding: 12px 8px;
		background: $primary;
		color: $mainWhite;
		font-weight: 700;
		font-size: 10px;
		line-height: 15px;
		text-transform: uppercase;
	}

	@include media-queres.mediaOnly859px {
		max-width: 280px;
		width: 100%;
	}
}
