@use '../media/media-queres';
@import '../varriables/varriables';

.newses {
  padding: 10px 0;

  .news {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .newsBtn {
    margin-top: 50px;
  }
}

.arrivals {


  .arrivalsWrapp {
    display: flex;
    justify-content: space-between;

    .books {
      display: flex;
      gap: 20px;
      max-width: 45%;
      width: 100%;
    }

    .tabs {
      display: flex;
      gap: 5px;
      max-width: 50%;
      width: 100%;
    }
  }
}

.partners {
  padding: 50px 0;

  .partnersSwiper {
    padding-top: 60px;

    .partnersSlide {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .slideProgress {
      position: relative;
      width: 50px !important;
      margin-top: 50px;
      margin-left: 50px;

      @include media-queres.mediaOnly1024px {
        margin-left: 20px;
      }

      @include media-queres.mediaOnly720px {
        margin-left: 5px;
      }
    }
  }
}