@use '../../styles/media/media-queres';
@import '../../styles/varriables/varriables';
.category {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  padding-top: 60px;
  padding-bottom: 120px;
  a {
    display: flex;
    flex-direction: column;
    gap: 3px;
    max-width: 45%;
    width: 100%;
    background: $mainWhite;
    color: $primary;
    padding: 10px 12px;
    font-size: 14px;
    line-height: 17px;
    border-radius: 6px;
    -webkit-box-shadow: 0px 2px 5px 2px rgba(34, 60, 80, 0.03);
    -moz-box-shadow: 0px 2px 5px 2px rgba(34, 60, 80, 0.03);
    box-shadow: 0px 2px 5px 2px rgba(34, 60, 80, 0.03);
    // border: 1px dashed $grayDARKEN;
  }
  .category_helper {
    font-size: 10px;
    display: block;
  }
}
.link_wrapp {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 25px;
  padding: 50px 0;
}
.link {
  max-width: 45%;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 2px 5px 2px rgba(34, 60, 80, 0.03);
  -moz-box-shadow: 0px 2px 5px 2px rgba(34, 60, 80, 0.03);
  box-shadow: 0px 2px 5px 2px rgba(34, 60, 80, 0.03);
  a {
    color: $skyBlue;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    p {
      margin: 5px 0;
      display: block;
      font-size: 12px;
      line-height: 15px;
    }
    span {
      font-size: 9px;
    }
  }
}
