@use '../../../styles/media/media-queres';
@import '../../../styles/varriables/varriables';

.ownerImage {
  max-width: 35%;
  width: 100%;

  img {
    position: relative;
    width: 400px !important;
    height: 300px !important;
    object-fit: cover;
    z-index: 2;
    border-radius: 4px;
  }

  @include media-queres.mediaOnly768px {
    max-width: 45%;
  }

  @include media-queres.mediaOnly640px {
    max-width: 60%;
  }

  @include media-queres.mediaOnly480px {
    max-width: 80%;
  }
}

.ownerInfo {
  display: flex;
  flex-direction: column;
  max-width: 60%;
  width: 100%;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  color: $primary;

  span {
    font-size: 18px;
    line-height: 20px;
    color: $black;
  }

  .ownerName {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 40px;
  }

  .ownerItem {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  @include media-queres.mediaOnly480px {
    max-width: 100%;
  }
}
