@import './varriables/varriables';
@import './fonts/font';
@import './mixins';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @include mainFont;
}

// OPTIONS
.container {
  max-width: $Container;
  padding-left: $Paddings;
  padding-right: $Paddings;
  margin: 0 auto;
}