//#### COLORS
$black: #000000;
$primary: #072758;
$skyBlue: #0e2054;
$mainWhite: #ffffff;
$gray: #757575;
$darkBlack: rgb(59, 59, 59);
$dark: rgba(59, 59, 59, 0.473);

// BREAKPOINTS
$BreakPoint1366: 1365.99 + px;
$BreakPoint1280: 1279.99 + px;
$BreakPoint1024: 1023.99 + px;
$BreakPoint992: 991.99 + px;
$BreakPoint859: 858.99 + px;
$BreakPoint768: 767.99 + px;
$BreakPoint720: 719.99 + px;
$BreakPoint640: 639.99 + px;
$BreakPoint535: 534.99 + px;
$BreakPoint480: 479.99 + px;
$BreakPoint440: 439.99 + px;
$BreakPoint380: 379.99 + px;
$BreakPoint360: 359.99 + px;
$BreakPoint340: 339.99 + px;
$BreakPoint320: 319.99 + px;
$BreakPoint280: 279.99 + px;

// Container width and padding
$BreakPoint: 1229.99 + px;
$Paddings: 14.99 + px;

// OPTIONS
$Container: $BreakPoint;
