@use '../../../styles/media/media-queres';
@import '../../../styles/varriables/varriables';

.subContent {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;

  .subItems {
    max-width: 45%;
    width: 100%;
    color: $mainWhite;
    display: flex;
    flex-direction: column;
    margin: 5px 0;

    span {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: $mainWhite;

      &:first-child {
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 19px;
        color: #D1D1D1;
        margin: 3px 0;
      }
    }
  }
}