@use '../../../styles/media/media-queres';
@import '../../../styles/varriables/varriables';

.book {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 45%;
  width: 100%;

  @include media-queres.mediaOnly1024px {
    max-width: 100%;
  }
}

.bookAthor {
  display: flex;
  gap: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  width: 100%;

  @include media-queres.mediaOnly535px {
    flex-direction: column;
    gap: 4px;
  }
}

.bookText {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.bookActions {
  display: flex;
  align-items: baseline;
  gap: 35px;

  span {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
  }

  @include media-queres.mediaOnly480px {
    flex-direction: column;
    gap: 7px;
  }
}

.createdAt {
  width: 80px;
  padding: 12px;
  color: $mainWhite;
  background: $primary;
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 11px;
  text-transform: uppercase;
  margin-bottom: 30px;

  @include media-queres.mediaOnly480px {
    margin-top: 15px;
  }
}