@import '../../../styles/mixins';
@import '../../../styles/media/media-queres';
@import '../../../styles/varriables/varriables';
.search {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .field {
    display: flex;
    background: rgba(255, 255, 255, 0.9);
    padding: 3px;
    border-radius: 4px;
    input {
      width: 400px;
      background: none;
      border: none;
      font-family: inherit;
      font-size: 100%;

      @include mediaOnly535px {
        width: 200px;
      }

      &:focus {
        outline: none;
      }
    }
    button {
      display: flex;
      background: $primary;
      padding: 10px;
      border-radius: 4px;
      border: none;
      font-size: 20px;
      color: $mainWhite;
      @include mediaOnly535px {
        padding: 4px;
      }
    }
  }
  .result {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    background: $mainWhite;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow: scroll;
    max-height: 400px;
    .empty {
      font-size: 12px;
      font-weight: 400;
      line-height: 15px;
      color: $black;
    }
    .items {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 5px;
      text-align: left;
      color: $black;
      width: 100%;
      border: 1px solid rgba(226, 226, 226, 0.8);
      padding: 5px;
      border-radius: 4px;
      .action {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 10px;
        .button {
          background: none;
          border: none;
          cursor: pointer;
          font-size: 18px;
        }
      }
      .name {
        font-size: 12px;
        font-style: 300;
        line-height: 15px;
      }
      .author {
        font-size: 12px;
        font-weight: bold;
        line-height: 15px;
      }
      .description {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        text-overflow: ellipsis;
        overflow: hidden;
        -webkit-box-orient: vertical;
        font-size: 10px;
      }
      .category {
      }
    }
  }
}
