.button {
  display: flex;
  align-items: center;
  gap: 10px;
  border: none;
  background: none;
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  font-family: inherit;

  &:focus {
    outline: none;
  }

  &:hover {
    .icon {
      transform: translateX(10px);
    }
  }

  &.top {
    &:hover {
      svg {
        transform: translateY(-10px) rotate(-90deg);
      }
    }
  }

  &.right {
    &:hover {
      svg {
        transform: translateX(10px);
      }
    }
  }

  &.bottom {
    &:hover {
      svg {
        transform: translateY(10px) rotate(90deg);
      }
    }
  }

  .icon {
    transition: transform .2s ease;
  }
}

.top {
  svg {
    transform: rotate(-90deg);
  }
}

.right {
  svg {
    transform: rotate(0deg);
  }
}

.bottom {
  svg {
    transform: rotate(90deg);
  }
}