@use '../../styles/media/media-queres';
@import '../../styles/varriables/varriables';
@import '../../styles/mixins';

.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  background: $mainWhite;
  @include mainFont;
  -webkit-box-shadow: 1px 8px 12px -3px rgba(34, 60, 80, 0.087);
  -moz-box-shadow: 1px 8px 12px -3px rgba(34, 60, 80, 0.087);
  box-shadow: 1px 8px 12px -3px rgba(34, 60, 80, 0.087);
}
.top {
  display: flex;
  justify-content: space-between;
  background: $darkBlack;
  padding: 10px 40px;
}

.navigation {
  position: relative;
  max-width: $Container;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 20px 0;
  gap: 30px;

  @include media-queres.mediaOnly1280px {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.mobileBtn {
  position: absolute;
  left: 30px;
  display: none;
  cursor: pointer;
  overflow: hidden;
  z-index: 201;

  @include media-queres.mediaOnly992px {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }

  span {
    display: block;
    width: 16px;
    height: 1px;
    background: $black;
    transition: all 0.3s ease-in;

    &:nth-child(2) {
      width: 8px;
      margin-left: auto;
    }
  }

  &.active {
    span {
      background: $mainWhite;

      &:nth-child(1) {
        transform: matrix(0.7071, 0.7071, -0.7071, 0.7071, 0, 4);
      }

      &:nth-child(2) {
        width: 0%;
        transform: matrix(1, 0, 0, 1, 8, 0);
      }

      &:nth-child(3) {
        transform: matrix(0.7071, -0.7071, 0.7071, 0.7071, 0, -4);
      }
    }
  }
}

.logo {
  position: relative;
  display: flex;
  justify-content: center;
  a {
    display: flex;
    align-items: center;
    gap: 8px;
    color: $mainWhite;
    font-size: 12px;
  }
}

.item {
  a {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 12px;
    color: $mainWhite;
  }
}
.menu {
  display: flex;
  align-items: center;
  gap: 25px;
  @include media-queres.mediaOnly992px {
    display: none;
  }
}
.submenu {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 6px;
  top: 100%;
  left: 0;
  width: 100%;
  background: $mainWhite;
  padding: 15px 15px 10px 15px;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.2s ease;
  pointer-events: none;
  -webkit-box-shadow: 1px 8px 12px -3px rgba(34, 60, 80, 0.087);
  -moz-box-shadow: 1px 8px 12px -3px rgba(34, 60, 80, 0.087);
  box-shadow: 1px 8px 12px -3px rgba(34, 60, 80, 0.087);
  .subitem {
    font-size: 12px;
    line-height: 15px;
    color: $darkBlack;
  }
}

.menuItem {
  position: relative;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 23px;
  text-transform: uppercase;
  cursor: pointer;
  a {
    display: flex;
    align-items: center;
    color: $darkBlack;
    gap: 4px;
  }
  &:hover {
    .submenu {
      opacity: 1;
      pointer-events: all;
    }
  }
}

.search {
  position: absolute;
  right: 30px;
  display: none;

  @include media-queres.mediaOnly992px {
    display: flex;
  }
}
