@use '../../../styles/media/media-queres';
@import '../../../styles/varriables/varriables';

.remaining {
  padding: 50px 0;

  .remainignWrapp {
    display: flex;
    flex-direction: column;

    .books {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 60%;
      width: 100%;
      padding: 40px 0;

      @include media-queres.mediaOnly768px {
        max-width: 100%;
        flex-wrap: wrap;
        padding: 10px 0;
      }
    }
  }

  @include media-queres.mediaOnly768px {
    padding: 12px 0;
  }
}

.content {
  display: flex;
  justify-content: space-between;

  .files {
    max-width: 50%;
    width: 100%;

    @include media-queres.mediaOnly768px {
      max-width: 100%;
    }
  }

  .category {
    max-width: 45%;
    width: 100%;

    @include media-queres.mediaOnly768px {
      max-width: 100%;
    }
  }

  @include media-queres.mediaOnly768px {
    flex-direction: column;
  }
}