@use '../../styles/media/media-queres';
@import '../../styles/varriables/varriables';

.imageBox {
	display: flex;
	align-items: center;
	justify-content: space-between;

	.image {
		position: relative;
		max-width: 45%;
		width: 100%;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		&::after {
			content: '';
			position: absolute;
			top: -30px;
			right: -30px;
			width: 100%;
			height: 100%;
			background: #f3e0ba;
			z-index: -1;
		}

		@include media-queres.mediaOnly1024px {
			max-width: 70%;
		}

		@include media-queres.mediaOnly535px {
			max-width: 90%;
		}
	}

	.content {
		display: flex;
		flex-direction: column;
		gap: 24px;
		max-width: 50%;
		width: 100%;

		.subTitle {
			font-size: 16px;
			line-height: 23px;
			color: $primary;
		}

		.description {
			font-size: 16px;
			line-height: 21px;
		}

		@include media-queres.mediaOnly1024px {
			max-width: 100%;
		}
		@include media-queres.mediaOnly859px {
			.subTitle {
				font-size: 18px;
				line-height: 23px;
			}
	
			.description {
				font-size: 17px;
				line-height: 21px;
			}
		}
	}

	@include media-queres.mediaOnly1024px {
		flex-direction: column;
		gap: 12px;
	}
}
