.content {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.files {
  width: 70%;

  & div {
    max-width: 100%;
  }
}

.categories {
  width: 26%;
  border: 1px solid red;
}