@use '../../../styles/media/media-queres';
@import '../../../styles/varriables/varriables';

.file {
	display: flex;
	flex-direction: column;
	gap: 14px;

	.published {
		display: flex;
		align-items: center;
		justify-content: center;
		max-width: 80px;
		width: 100%;
		background: $primary;
		padding: 12px 5px;
		color: $mainWhite;
		font-weight: 700;
		font-size: 10px;
		line-height: 11px;
		text-transform: uppercase;
	}

	.fileText {
		display: flex;
		flex-direction: column;
		gap: 5px;

		.authors {
			font-weight: 700;
			font-size: 16px;
			line-height: 21px;
			text-transform: uppercase;
			margin-bottom: 12px;
			color: #504a4a;
		}

		.title {
			font-weight: 400;
			font-size: 15px;
			line-height: 20px;
		}
		.name {
			font-size: 16px;
			font-weight: bold;
		}
	}

	.info {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.infoItem {
			span {
				font-weight: 700;
				font-size: 12px;
				line-height: 13px;
				color: #0e2054;
			}
		}

		@include media-queres.mediaOnly480px {
			flex-direction: column;
			gap: 12px;
			align-items: flex-start;
		}
	}
}
