@use '../../../styles/media/media-queres';
@import '../../../styles/varriables/varriables';


.tabsContent {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 23px;

  a {
    position: relative;
    color: $black;
    font-size: 14px;

    &::after {
      position: absolute;
      left: 0;
      bottom: -3px;
      content: '';
      width: 100%;
      height: 1px;
      background: $black;
      transform: scaleX(0);
      transform-origin: right;
      transition: transform .4s ease;
    }

    &:hover {
      &::after {
        transform: scaleX(1);
        transform-origin: left;
      }
    }
  }
}