@use '../../styles/media/media-queres';
@import '../../styles/varriables/varriables';

.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  background: $mainWhite;
}

.navigation {
  position: relative;
  max-width: $Container;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;

  @include media-queres.mediaOnly1280px {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.mobileBtn {
  position: absolute;
  left: 30px;
  display: none;
  cursor: pointer;
  overflow: hidden;
  z-index: 201;

  @include media-queres.mediaOnly992px {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }

  span {
    display: block;
    width: 16px;
    height: 1px;
    background: $black;
    transition: all .3s ease-in;

    &:nth-child(2) {
      width: 8px;
      margin-left: auto;
    }
  }

  &.active {
    span {
      background: $mainWhite;

      &:nth-child(1) {
        transform: matrix(0.7071, 0.7071, -0.7071, 0.7071, 0, 4);
      }

      &:nth-child(2) {
        width: 0%;
        transform: matrix(1, 0, 0, 1, 8, 0);
      }

      &:nth-child(3) {
        transform: matrix(0.7071, -0.7071, 0.7071, 0.7071, 0, -4);
      }
    }
  }
}

.logo {
  flex: 1;
  display: flex;
  justify-content: center;

  @include media-queres.mediaOnly992px {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  @include media-queres.mediaOnly720px {
    img {
      width: 52px;
      height: 52px;
      object-fit: cover;
    }
  }
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;

  @include media-queres.mediaOnly992px {
    display: none;
  }
}

.menuItem {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 23px;
  text-transform: uppercase;

  a {
    color: $skyBlue;
  }
}

.search {
  position: absolute;
  right: 30px;
  display: none;

  @include media-queres.mediaOnly992px {
    display: flex;
  }
}