@use '../../styles/media/media-queres';

.h1 {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 87px;

  @include media-queres.mediaOnly1280px {
    font-size: 60px;
    line-height: 68px;
  }

  @include media-queres.mediaOnly768px {
    font-size: 50px;
    line-height: 60px;
  }

  @include media-queres.mediaOnly480px {
    font-size: 40px;
    line-height: 50px;
  }
}

.h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;

  @include media-queres.mediaOnly992px {
    font-size: 20px;
    line-height: 20px;
  }
}

.h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;

  @include media-queres.mediaOnly440px {
    font-size: 16px;
    line-height: 20px;
  }
}
