@use '../../../styles/media/media-queres';
@import '../../../styles/varriables/varriables';

.subContent {
  width: 80%;
  position: absolute;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.subContentItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 4px 0;

  &:nth-last-child(-n+2) {
    margin-left: auto;
  }
}

.subContentTitle {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: $mainWhite;
  margin-bottom: 3px;
}

.subContentText {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #D1D1D1;

}



.btn {
  display: flex;
  justify-content: center;
  max-width: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 14px 63px;
  color: $mainWhite;
  background: $primary  !important;

  svg {
    fill: $mainWhite;
  }
}