@use '../../styles/media/media-queres';
@import '../../styles/varriables/varriables';

.remaining {
  .remainignWrapp {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .books {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 52%;
      width: 100%;

      @include media-queres.mediaOnly1024px {
        max-width: 80%;
      }

      @include media-queres.mediaOnly720px {
        max-width: 100%;
      }

      @include media-queres.mediaOnly535px {
        flex-wrap: wrap;
      }
    }

  }
}

.categories {
  padding: 50px 0;
}