@use '../../styles/media/media-queres';
@import '../../styles/varriables/varriables';

.remaining {
  .remainignWrapp {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .books {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 52%;
      width: 100%;
    }
  }
}