@use '../../styles/media/media-queres';
@import '../../styles/varriables/varriables';

.preloader {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 20px;
	width: 100%;
	height: 100%;
	z-index: 300;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(255, 255, 255, 0.99);
	color: $black;
	& span {
		font-size: 14px;
		letter-spacing: 0.02em;
		text-transform: uppercase;
	}
}
