@use '../../../styles/media/media-queres';
@import '../../../styles/varriables/varriables';

.jurnalInfo {
  display: flex;
  flex-direction: column;
  gap: 70px;

  .jurnalTitle {
    text-align: center;
  }

  .wrapp {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .item {
      display: flex;
      gap: 10px;
      font-size: 16px;
      line-height: 21px;
    }
  }
}