@use '../../styles/media/media-queres';
@import '../../styles/varriables/varriables';

.description {
  padding: 50px 0;
}

.cards {
  padding: 20px 0;

  .cardsWrapp {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

    &>div {
      margin-bottom: 30px;
    }

    @include media-queres.mediaOnly859px {
      flex-wrap: wrap;
      justify-content: center;
      gap: 40px;
    }
  }

  .cardsBtn {
    margin: 30px 0;
  }
}