@use '../../styles/media/media-queres';
@import '../../styles/varriables/varriables';


.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 12px;
  position: relative;
  padding: 8px;

  @include media-queres.mediaOnly1024px {
    flex-direction: column;
    width: 100%;
  }

  a {
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: relative;
    max-width: 45%;
    width: 100%;
    color: $black;
    transition: color .3s ease;
    padding: 75px 35px;
    background: rgba(49, 100, 244, 0.17);

    svg {
      transition: fill .3s ease;
    }

    &:hover {
      &::after {
        transform: scaleX(1);
        transform-origin: left;
      }

      &::before {
        background: rgba(49, 100, 244, 0.6);
      }

      color: $mainWhite;

      svg {
        fill: $mainWhite;
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(49, 100, 244, 0.8);
      transform: scaleX(0);
      transform-origin: right;
      transition: transform .2s ease;
      z-index: -1;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 100%;
      background: rgba(49, 100, 244, 0.29);
    }

    @include media-queres.mediaOnly1024px {
      padding: 35px 25px;
      gap: 4px;
    }

    @include media-queres.mediaOnly1024px {
      max-width: 100%;
    }

    @include media-queres.mediaOnly440px {
      padding: 15px 40px;

      p {
        font-size: 14px;
        line-height: 18px;
      }
    }
  }

  &.fixed {
    position: sticky;
    top: 30px;

    a {
      max-width: 100%;
      width: 100%;
      padding: 12px 5px;
    }

    // AWAIT...
  }


}

.categoryName {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;

  @include media-queres.mediaOnly1024px {
    font-size: 16px;
    line-height: 22px;
  }

  @include media-queres.mediaOnly440px {
    line-height: 15px;
  }
}

.icon {
  position: absolute;
  top: 22px;
  right: 20px;

  @include media-queres.mediaOnly480px {
    top: 5px;
    right: 10px;

    svg {
      width: 12px;
      height: 12px;
    }
  }
}