@use '../../../styles/media/media-queres';
@import '../../../styles/varriables/varriables';

.content {
  padding: 50px 0;

  .contentWrapp {
    display: flex;
    justify-content: space-between;

    .category {
      max-width: 45%;
      width: 100%;
    }
  }
}