@use '../../styles/media/media-queres';
@import '../../styles/varriables/varriables';

.services {
  padding: 50px 0;
}

.otherServices {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding-bottom: 50px;

  @include media-queres.mediaOnly720px {
    flex-direction: column;
  }

  >* {
    max-width: 45%;

    @include media-queres.mediaOnly720px {
      max-width: 100%;
    }
  }
}