@use '../../styles/media/media-queres';
@import '../../styles/varriables/varriables';
@import '../../styles/mixins';

.hero {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(24, 38, 82, 0.36);
    z-index: 1;
  }

  & .wrapp {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 2;
    height: 70vh;
  }

  & .content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex: 1 0 0;
    align-items: center;
    justify-content: center;
    color: $mainWhite;
    text-align: center;

    & .title {
      width: 100%;
    }

    & .subTitle {
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      text-transform: uppercase;
    }
  }

  .navigation {
    position: relative;
    z-index: 3;
    margin-top: 10px;
  }

  .information {
    color: $mainWhite;
  }
}