@use '../../styles/media/media-queres';
@import '../../styles/varriables/varriables';

.rules {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 80px 0;
}

.rulesTitle {
  line-height: 32px;
  max-width: 80%;

  @include media-queres.mediaOnly992px {
    max-width: 100%;
  }
}

.rulesItems {
  padding: 20px 0;
}

.rulesAuthor {
  display: flex;
  align-items: center;
  gap: 12px;

  span {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    color: $primary;
  }

  @include media-queres.mediaOnly720px {
    flex-direction: column;
    gap: 6px;
    align-items: flex-start;
  }
}