@use '../../styles/media/media-queres';
@import '../../styles/varriables/varriables';

.files {
  display: flex;
  gap: 50px;

  &.row {
    flex-direction: row;
    flex-wrap: wrap;

    &>div {
      max-width: 45%;
      width: 100%;

      @include media-queres.mediaOnly1024px {
        max-width: 80%;
      }

      @include media-queres.mediaOnly640px {
        max-width: 100%;
      }
    }

    @include media-queres.mediaOnly1024px {
      flex-direction: column;
    }
  }

  &.column {
    flex-direction: column;
  }
}