@use '../../styles/media/media-queres';
@import '../../styles/varriables/varriables';

.tab {
  position: relative;
  padding: 0;
  width: 100%;
  overflow: hidden;
}

.tabWrapp {
  border: 1px solid red;
}

.tabs {
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 1;
  overflow: hidden;
  padding-top: 10px;
  padding-left: 20px;
  max-height: 0;
  transition: max-height .4s ease;

  &.active {
    max-height: 100vh;
  }
}

.tabTop {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 15px;
  border: 1px solid #b1b1b1;
  padding: 7px 0 7px 13px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  z-index: 2;
  background: $mainWhite;

  svg {
    transition: transform .3s ease;
  }

  &.active {
    svg {
      transform: rotate(90deg);
    }
  }
}

.tabsContent {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 4px;

  a {
    display: inline-block;
    margin: 3px 0;
    position: relative;
    color: $black;
    font-size: 14px;

    &::after {
      position: absolute;
      left: 0;
      bottom: -3px;
      content: '';
      width: 100%;
      height: 1px;
      background: $black;
      transform: scaleX(0);
      transform-origin: right;
      transition: transform .4s ease;
    }

    &:hover {
      &::after {
        transform: scaleX(1);
        transform-origin: left;
      }
    }
  }
}