@use '../../styles/media/media-queres';
@import '../../styles/varriables/varriables';

.categories {
	padding: 50px 0;
}

.remainings {
	.files {
		display: flex;
		flex-direction: column;
		gap: 20px;
		& > div {
			width: 70%;
		}
	}
}
