@use '../../../styles/media/media-queres';
@import '../../../styles/varriables/varriables';

.content {
	.contentWrapp {
		display: flex;
		justify-content: space-between;

		.files {
			max-width: 55%;
			width: 100%;

			.filesBtn {
				margin-top: 60px;
			}
		}

		.categories {
			max-width: 35%;
			width: 100%;
		}
	}
}
