@use '../../../styles/media/media-queres';
@import '../../../styles/varriables/varriables';

.categories {
  display: flex;
  justify-content: space-between;

  .categoty {
    max-width: 24%;
    width: 100%;
    overflow: hidden;

    .image {
      position: relative;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(24, 38, 82, 0.5);
        z-index: 1;
      }

      .title {
        position: absolute;
        bottom: 10px;
        z-index: 2;
        color: $mainWhite;
        padding: 12px 10px;

        h4 {
          font-weight: 700;
          font-size: 24px;
          line-height: 23px;
        }
      }
    }

    .information {
      display: flex;
      align-items: center;
      gap: 12px;
      padding: 22px 12px;
      border: 1px solid #C2C2C2;
    }
  }

  &.row {
    position: sticky;
    top: 70px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .categoty {
      position: relative;
      max-width: 100%;
      width: 100%;
      padding: 18px 20px;
      background: rgba(49, 100, 244, 0.11);
      padding-left: 50px;
      display: flex;
      align-items: center;

      .image {
        img {
          display: none;
        }

        .title {
          position: unset;
          color: $black;
          padding: 0;

          h4 {
            font-weight: 400;
            font-size: 18px;
            line-height: 23px;
          }
        }

        &::after {
          display: none;
        }
      }

      .information {
        display: none;
      }

      a {
        color: $black;

        h4 {
          font-weight: 400;
          font-size: 16px;
          line-height: 18px;
        }
      }

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 30px;
        height: 100%;
        background: rgba(49, 100, 244, 0.29);
      }
    }
  }
}