@use '../../../styles/media/media-queres';
@import '../../../styles/varriables/varriables';

.textBox {
  display: flex;
  flex-direction: column;
  gap: 18px;

  .textBoxImage {
    max-width: 45%;
    width: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @include media-queres.mediaOnly768px {
      max-width: 100%;
    }
  }

  &.column {
    flex-direction: row;
    align-items: center;

    .textBoxDescription {
      max-width: 50%;
      width: 100%;

      @include media-queres.mediaOnly768px {
        max-width: 100%;
      }
    }

    @include media-queres.mediaOnly768px {
      flex-direction: column;
    }
  }
}