@use '../../../styles/media/media-queres';
@import '../../../styles/varriables/varriables';

.file {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .published {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80px;
    width: 100%;
    padding: 8px;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  .fileText {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .authors {
      font-weight: normal;
      font-size: 16px;
      line-height: 21px;
      text-transform: uppercase;
      color: #504a4a;
      text-decoration: underline;
      margin-bottom: 7px;
    }

    .description {
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 7;
      -webkit-box-orient: vertical;
    }
    .name {
      font-size: 12px;
      font-weight: bold;
      line-height: 18px;
    }
  }

  .info {
    display: flex;
    align-items: center;
    gap: 20px;

    .infoItem {
      span {
        font-weight: 700;
        font-size: 10px;
        line-height: 13px;
        color: #0e2054;
      }
      a {
        span {
          text-decoration: underline;
        }
      }
      .download {
        cursor: pointer;
        text-decoration: underline;
      }
    }

    @include media-queres.mediaOnly480px {
      flex-direction: column;
      gap: 12px;
      align-items: flex-start;
    }
  }
}
