@use '../styles/media/media-queres';
@import './varriables/varriables';
@import './mixins';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
@media print {
	body {
		display: none !important;
	}
}
.btn-download {
	background: none;
	border: none;
	cursor: pointer;
	&:focus {
		outline: none;
	}
	&:hover {
		cursor: not-allowed;
	}
}

body {
	@include mainFont;
}

// OPTIONS
.container {
	max-width: $Container;
	padding-left: $Paddings;
	padding-right: $Paddings;
	margin: 0 auto;

	@include media-queres.mediaOnly1280px {
		padding-left: 20px;
		padding-right: 20px;
	}
}

section {
	padding: 50px 0;

	@include media-queres.mediaOnly1024px {
		padding: 30px 0;
	}
}

.sectionTitle {
	padding: 40px 0;

	@include media-queres.mediaOnly1024px {
		padding: 15px 0;
	}
}

// RESET STYLES BASIC
ul,
a,
a:focus {
	outline: none;
	list-style-type: none;
	text-decoration: none;
}

// SWIPER SLIDE PROGRESSBAR
.swiper-pagination-progressbar {
	background: none !important;
	border: 1px solid $black;
}

.swiper-pagination-progressbar-fill {
	background: $black !important;
}
