@use '../../../styles/media/media-queres';
@import '../../../styles/varriables/varriables';


.ownerImage {
  max-width: 35%;
  width: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.ownerInfo {
  display: flex;
  flex-direction: column;
  max-width: 60%;
  width: 100%;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  color: $primary;

  span {
    font-size: 18px;
    line-height: 20px;
    color: $black;
  }

  .ownerName {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 40px;
  }

  .ownerItem {
    display: flex;
    gap: 8px;
    align-items: center;
  }
}